main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
        margin-bottom: 10px;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;



        input,
        button {
            width: 300px;
            max-width: 350px;
            padding: 0.75rem 1rem;
            border-radius: 0.75rem;
            border: none;
            outline: none;
        }

        button {
            background-color: rgb(180, 59, 59);
        }

        button:active {
            scale: 0.95;
        }
    }


     .toggle-auth-form {
            text-decoration: none;
            color: rgb(180, 59, 59);
        }
}